source https://api.nuget.org/v3/index.json

nuget fake
nuget FSharp.Core
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Elmish.React
nuget Fable.Mocha
nuget Feliz
nuget Zanaptak.TypedCssClasses